/* Fond noir avec opacité de 50% */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Centrage de l'image dans la lightbox */
.fancybox-slide--image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancybox-slide--image .fancybox-content {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.fancybox-image {
    max-width: 720px;
    max-height: 720px;
    width: auto;
    height: auto;
}

/* Style des boutons de navigation */
.fancybox-button--arrow_left,
.fancybox-button--arrow_right {
    width: 150px;
    height: 150px;
    padding: 0;
    background: none;
    opacity: 1;
}

.fancybox-button--arrow_left::before,
.fancybox-button--arrow_right::before {
    display: flex;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    width: 150px;
    height: 150px;
    color: white;
}

/* Flèche gauche avec texte "Précédent" */
.fancybox-button--arrow_left::before {
    content: '\00f104 Précédent'; /* Utilisation de l'icône Font Awesome pour la flèche gauche */
    justify-content: flex-start;
    padding-left: 200px;
}

/* Flèche droite avec texte "Suivant" */
.fancybox-button--arrow_right::before {
    content: 'Suivant \00f61'; /* Utilisation de l'icône Font Awesome pour la flèche droite */
    justify-content: flex-end;
    padding-right: 200px;
}

/* Ajuster l'espace pour les flèches */
.fancybox-slide {
    padding: 44px 150px;
}

/* Masquer les SVG par défaut */
.fancybox-button--arrow_left svg,
.fancybox-button--arrow_right svg {
    display: none;
}
