/* Fond noir avec opacité de 80% */
.fancybox-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Centrage de l'image dans la lightbox */
.fancybox-slide--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fancybox-slide--image .fancybox-content {
    max-width: 100%;
    max-height: 100%;
}

.fancybox-image {
    max-width: none;
    max-height: none;
}

/* Ajustement du conteneur des boutons de navigation*/
.fancybox-navigation .fancybox-button {
    width: auto;
    height: auto;
    background: none;
    padding: 0;
}

/* Style commun pour les deux flèches */
/* .fancybox-button--arrow_left,
.fancybox-button--arrow_right {
    width: 150px;
    height: 150px;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 99999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

/* Flèche gauche */
/* .fancybox-button--arrow_left {
    left: 10px;
    background-image: url('../assets/images/images/nav-arrow-left.png');
} */

/* Flèche droite */
/* .fancybox-button--arrow_right {
    right: 10px;
    background-image: url('../assets/images/images/nav-arrow-right.png');
} */

/* Masquer les SVG par défaut */
.fancybox-button--arrow_left svg,
.fancybox-button--arrow_right svg {
    display: none;
}

.fancybox-button--arrow_left::before,
.fancybox-button--arrow_right::before {
    display: block;
    font-family: 'Space mono';
    font-size: 24px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fancybox-button--arrow_left::before {
    content: 'Précédente';
    padding-left: 100px;
}

.fancybox-button--arrow_right::before {
    content: 'Suivante';
    padding-right: 100px;
}

/* Ajuster l'espace pour les flèches */
/* .fancybox-slide {
    padding: 44px 150px;
} */

/* Autres styles personnalisés */
.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    outline: none;
}

.fancybox-slide--image .fancybox-content img {
    max-width: 720px;
    max-height: 720px;
    width: auto;
    height: auto;
}
