/* Section 1 */
.section-1 {
    display: flex;
    align-items: end;
    text-transform: uppercase;
    font-weight: 400;
}

.section-1 .content {
    flex: 1;
}

.section-1 h1 {
    font-size: 50px;
}

.section-1 p {
    font-size: 14px;
}

.photo-content {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.photo-title-new {
    color: black;
    font-family: 'Space Mono';
}


.photo-meta {
    padding-bottom: 10px;
}


p, h1 {
    padding-bottom: 20px;
}

hr {
    width: 95%;
    margin: auto;
}

.left-column,
.right-column,
.related-photo {
    width: 50%;
}

.photo-img {
    max-width: 100%;
    height: auto;
}

.small-photo {
    width: 50%;
    height: auto;
}



/* Section 2 */
.section-2 {
    height: 100px;
    display: flex;
    align-items: center;
}

.section-2 .field-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .instructions {
    max-width: 600px;
}

.section-2 .instructions .wrap {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    padding: 20px 25px;
}

/* Section 3 */
.entry-content .section-3 .wrap {
    max-width: 800px;
    padding: 40px;
}

.section-3 {
    display: flex;
    text-transform: uppercase;
}
